<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Quản Trị Marketing</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top" onload="myFunction()">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" th:href="@{/marketing}">Quản Trị Marketing</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

  </nav>

  <div id="wrapper">

	<!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/chiendich}">
          <i class="fas fa-binoculars"></i>
          <span>Chiến Dịch</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/contact}">
          <i class="fas fa-envelope"></i>
          <span>Email Marketing</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/SendSms}">
          <i class="fas fa-sms"></i>
          <span>SMS Marketing</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-algolia"></i>
          <span>Marketing Automation</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/tuvan}">
          <i class="fas fa-align-left"></i>
          <span>Form liên hệ</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/list}">
          <i class="fas fa-list"></i>
          <span>Danh Sách Khách Hàng</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/view}">
          <i class="far fa-calendar-alt"></i>
          <span>Lịch Hẹn</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Quản Trị Marketing</a>
          </li>
          <li class="breadcrumb-item active">Form Liên Hệ</li>
        </ol>
        <div class="row">
          <div class="col-2">
            
          </div>
          <div class="col-8">
            <h1>Đăng Ký Tư Vấn Sẩn Phẩm</h1>
            <br>
              <form action="#" th:action="@{/save}" th:object="${tuvan}"  method="post" novalidate="novalidate">
                <!-- <div class="form-group">
                  <label for="send">Tên công ty</label>
                  <input type="text" class="form-control" id="namect" th:field="*{company}">
                </div> -->
                <div class="form-group">
                  <label for="send">Họ Và Tên</label>
                  <input type="text" class="form-control" id="name" th:field="*{namekh}">
                </div>
                <div class="form-group">
                  <label for="send">Số điện Thoại</label>
                  <input type="text" class="form-control" id="phone" th:field="*{sdt}">
                </div>
                <div class="form-group">
                  <label for="send">Email</label>
                  <input type="email" class="form-control" id="email" th:field="*{mail}">
                </div>
                <div class="form-group">
                  <label for="send">Giới tính</label>
                  <input type="email" class="form-control" id="gioitinh" th:field="*{gioitinh}">
                </div>
                <div class="form-group">
                  <label for="address">Địa chỉ</label>
                  <input type="text" class="form-control" id="address" th:field="*{diachi}">
                </div>
                <div class="form-group" style="display: none">
                  <input type="text" class="form-control" id="madoituong" th:field="*{madoituong}" value="">
                </div>
                <!-- <div class="form-group" style="display: none">
                  <input type="text" class="form-control" id="status" th:field="*{status}" value="">
                </div> -->
                <button type="submit" class="btn btn-primary">Đăng ký</button>
              </form>
          </div>
        </div>
      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
<!--   <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script> -->

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
</body>
	<script type="text/javascript">
		function myFunction() {
			  document.getElementById("madoituong").defaultValue = "3";
			  document.getElementById("status").defaultValue = "open";
		}
	</script>
</html>
